body {
    background-image:url(../img/cream_pixels.png);
    background-repeat:repeat;

    font-family:'Open Sans';
}

h1 {
    border-bottom:1px solid #D2D2D2;
    margin-right:60px;
}

a:link { color:#555555; }
a:visited { color:#555555; }
a:hover { color:#999999; }

a.active {
    font-weight:bold;
}

#btc {
  color: #27BC4B;
  font-weight: bold;
}

#funding {
  color: #808080;
  font-weight: bold;
}

ul {
    list-style-type:square;
}

div.menuwrapper {
    border-bottom:1px solid #D2D2D2;
    margin-right:60px;
    margin-top:-10px;
}

ul.menu {
    margin:0 0 10px 10px;
    padding:0;
}

ul.menu li {
    display:inline;
    list-style-type:none;

    padding:0 25px 0 0;
    margin:0;
}

#device-frame {
    position:absolute;
    top:0px;
    left:0px;

    height:650px;
    z-index:100;
}

.homescreen {
    height:456px;

    position:absolute;
    top:99px;
    left:80px;

    z-index:1;
}

.screenshot {
    height:456px;

    position:absolute;
    top:99px;
    left:80px;

    z-index:10;
    display:none;
}

.container {
    position:relative;
    top:0px;
    left:0px;

    width:1200px;

    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}

.contentbox {
    position:relative;

    left:400px;
    top:30px;

    width:800px;
}

div.content {
    text-align:justify;

    margin-left:10px;
    margin-right:60px;

    display:none;
}

div.default {
    display:block;
}
